<h2>Edit UserProfile</h2>
<%= simple_form_for @user_profile, url:  admin_profile_path, method: :put do |f| %>
  <%= f.input :user_name %>
  <%= f.input :address %>
  <%= f.input :mobile_number %>
  <%= f.input :company %>
  <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>

<%= link_to "Back", admin_dashboards_path %>

