<h4>Admin Quiz Index </h4>
<table border="2">
	<th>Quiz Name</th>
	<th>Assigns To</th>
	<th>Status</th>
	<tbody>
		<% @quizzes.each do |quiz| %>
      <tr>
      	<td><%= quiz.name %></td>
      	<td>
      		<% quiz.users.each do |u| %>
      			<%= u.user_profile.user_name + "," %>
      		<% end %>
      	</td>
      	<td>
                  <% flag = true %>
                  <% quiz.quiz_users.pluck(:id).each do |qu_id| %>
                        <% if flag %>
                          <% flag = quiz.quiz_users.joins(:answers).where("quiz_user_id = ?", qu_id).count > 0 %>
                        <% end %>
                  <% end %>
      		<% if flag && quiz.quiz_users.count > 0 %>
      			<%= "Attempted" %>
      		<% else %>
      			<%= link_to "Edit", edit_admin_quiz_path(quiz) %>
      		<% end %>
      	</td>
      </tr>
    <% end %>		
	</tbody>
</table><br/>
<%= link_to "Back", admin_dashboards_path, :class => "btn btn-primary" %>