<div>
  <%= link_to "Link To Email Dashboard", admin_emails_path %><br/><br/>
</div>

<div class="form">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <th>User Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Mobile Number</th>
    <th>Company</th>
    </thead>
    <tbody id="list">
      <% @user_profiles.each do |profile| %>
        <tr>
          <td><%= profile.user_name %></td>
          <td><%= profile.user.email %></td>
          <td><%= profile.address %></td>
          <td><%= profile.mobile_number %></td>
          <td><%= profile.company %></td>
          <td><%= link_to "view", admin_profile_path(profile), :class => "btn btn-mini" %></td>
          
          <% if current_user && current_user.admin == true %>
            <td><%= link_to "edit", edit_admin_profile_path(profile), :class => "btn btn-mini" %></td>
            <td><%= link_to "destroy", {controller: 'admin/profiles', action: :destroy, id: profile.id}, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %></td>
            <% if current_user && profile.user.is_active %>
              <td><%= link_to "deactivate", deactivate_admin_profile_path(profile), :method => :put,    :class => "btn btn-mini activate" %></td>
            <% else %>
              <td><%= link_to "activate", activate_admin_profile_path(profile), method: :put, class: "btn btn-mini activate" %></td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= link_to "CreateQuiz", new_admin_quiz_path, method: :get, class: "btn btn-primary" %>
  <span><%= link_to "Quiz Lists", admin_quizzes_path, method: :get, class: "btn btn-primary" %></span>
  <%= will_paginate @user_profiles %>
</div>

