<h3>Create Quiz</h3>
<%= simple_form_for @quiz, url: create_quiz_admin_dashboards_path, method: 'post' do |quiz| %>
	<%= quiz.input :name %>	
	<%= quiz.input :assigns_to, :label => :assign_to, :collection => (@user_names.collect {|p| [p[:name], p[:id]]}), prompt: "select user name" %>
<H1>questions</H1>
	<%= quiz.simple_fields_for :questions, @quiz.questions do |question| %>
	 <% if question.object.input_type == 'Textfield' %>
	 		<%= question.input :name %>
	 		<%= question.hidden_field :input_type, :value => "Textfield", :id => 'tf' %>
	 <% end %>
	 <% if question.object.input_type == 'Textarea' %>
	 		<%= question.input :name %>
	 		<%= question.hidden_field :input_type, :value => "Textarea", :id => 'ta' %>
	 <% end %>
	<% end %>	
	<%= quiz.button :submit, "Submit", :class => "btn btn-primary" %>
<% end %>

