<!DOCTYPE html>
<html>
  <head>
    <title>PracticeApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.sausage.js" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sample Application</a>
          <div class="nav-collapse dropdown">
            <ul class="nav">
              <li><%= link_to "Link1" %></li>
              <li><%= link_to "Link2" %></li>
              <li><%= link_to "Link3" %></li>
              <li><%= link_to "Link4" %></li>   
              <% if current_user && current_user.user_profile != nil %>           
              <li id='fat-menu' class="dropdown" ><%= link_to user_profile.user_name,"#",:id => 'drop3', :class =>"dropdown-toggle", :role => 'button', 'data-toggle' => "dropdown" %>
                <ul class="dropdown-menu" role='menu' aria-labelledby="drop3">
                  <li tab-index='-1'><%= link_to 'view profile', profile_path %></li>
                  <li tab-index='-1'><%= link_to :sign_out, destroy_user_session_path, method: :delete %></li>
                </ul>
              </li> 
              <% end %>        
            </ul>
          </div>
        </div>        
      </div>      
    </div>
    <%= bootstrap_flash %>    
    <div class="container">
      <div class="row">        
        <div class="span9"><%= yield %></div>
        <div class="span3">
          <h2>About Us</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
          mollit anim id est laborum.
        </div>
      </div>
    </div>      
  </body>
</html>
